body{
    background-color: lightgoldenrodyellow;
}

/* styles.css */
/* styles.css */
#wishlist {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}
