body{
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
}


#wishlist {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}
#wishlist {
    list-style: none;
    padding: 0
}

#boardGamesList{
    list-style: none;
    padding: 0
}

#boardGamesList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 10px; 
    font-size: 16px;
}


#boardGamesList li span {
    margin-right: 10px;
}
